<div id="<%= dom_id stockstestapp %>">
  <p>
    <strong>Funds name:</strong>
    <%= stockstestapp.funds_name %>
  </p>

  <p>
    <strong>Stockname:</strong>
    <%= stockstestapp.stockname %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= stockstestapp.date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= stockstestapp.price %>
  </p>

</div>
